@using Orchard.Advertise.Extensions;
@using Orchard.Advertise.Models;
@using Orchard.ContentManagement;
@using Orchard.Utility.Extensions;
@{
    ContentItem contentItem = Model.ContentItem;
    AdvertisePart advertise = (AdvertisePart)contentItem.Get(typeof(AdvertisePart));
}
<a href="@Url.AdvertiseForAdmin(advertise)" title="@T("List Posts")">@T("List Posts")</a>@T(" | ")
<a>Summary Admin-test</a>
@*<a href="@Url.BlogPostCreate(blog)" title="@T("New Post")">@T("New Post")</a>@T(" | ")*@