<h1 id="branding">
    <a href="@Href("~/")">
        <img class="brand_img1" src="@Href(string.Format("{0}/{1}/Content/Images/theme/logo.png",WorkContext.CurrentTheme.Location,WorkContext.CurrentTheme.Path))" alt="@WorkContext.CurrentSite.SiteName" title="@WorkContext.CurrentSite.SiteName" />
        <img class="brand_img2" src="@Href(string.Format("{0}/{1}/Content/Images/theme/logo-tips.png",WorkContext.CurrentTheme.Location,WorkContext.CurrentTheme.Path))" alt="@WorkContext.CurrentSite.SiteName" title="@WorkContext.CurrentSite.SiteName" />
    </a>
</h1>
